{% extends "base.html" %}
{% load static %}
{% block title %}<title>WoMo App</title>{% endblock %}
	<!-- <link rel="stylesheet" href="css/style.css"> -->
	{% block link %}
	<link rel="stylesheet" href="{% static 'css/menu.css' %}">
	<link href='https://unpkg.com/css.gg@2.0.0/icons/css/close-o.css' rel='stylesheet'>
	<link href='https://unpkg.com/css.gg@2.0.0/icons/css/add.css' rel='stylesheet'>
	<link rel="stylesheet" href="{% static 'css/newmonth.css' %}">
{% endblock %}
{% block content %}
	<section class="section-main-part">
		<header class="main-header-block">
			<div id="monthDisplay">
			</div>
			<div class="rectangle1">
				<a href="#" class="rectangle1__week">неделя</a>
			</div>
			<div class="rectangle2">
				<a href="month.html" class="rectangle2__month">месяц</a>
			</div>
			<div class="buttons-throw">
				<button id="backButton"></button>
				<button id="nextButton"></button>
			</div>
		</header>
		<main class="main-main-block">
			<div class="left">
				<div class="calendar">
				<div class="weekdays">
					<div>ПН</div>
					<div>ВТ</div>
					<div>СР</div>
					<div>ЧТ</div>
					<div>ПТ</div>
					<div>СБ</div>
					<div>ВС</div>
				</div>
					
					<div class="days">
					</div>
					<div class="goto-today">
						<div class="goto">
							<input type="text" placeholder="мм/гггг" class="date-input">
							<button class="goto-btn">найти</button>
						</div>
						<button class="today-btn">сегодня</button>
					</div>
				</div>
				</div>
				<div class="right">
					<div class="today-date">
						<div class="event-day"></div>
						<div class="event-date"></div>
					</div>
					<div class="events"></div>
					<div class="add-event-wrapper">
						<div class="add-event-header">
							<div class="title">Дело</div>
							<i class="gg-close-o close"></i>
						</div>
						<div class="add-event-body">
							<div class="add-event-input">
								<input type="text" placeholder="Помыть полы..." class="event-name" />
							</div>
						</div>
						<div class="add-event-footer">
							<button class="add-event-btn">Добавить!</button>
						</div>
					</div>
				</div>
				<button class="add-event">
					<i class="gg-ad"></i>
				</button>
			
				
		</main>
	</section>
	<!-- <script src="{% static 'js/script.js'%}"> </script> -->
	<div id = "ID"></div>
    <script> ID = {{user.id}}; </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'js/month.js'%}"> </script>
{% endblock %}