{% extends "base.html" %}

{% load static %}
	{% block link %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href='https://unpkg.com/css.gg@2.0.0/icons/css/trash.css' rel='stylesheet'>
	<link rel="stylesheet" href="{% static 'css/newweek.css'%}">
	{% endblock %}
	

		{% block content %}
<section class="section-main-part">
	<header class="main-header-block">
		<div id="week-monthDisplay">
		</div>
		<div class="rectangle1">
			<a href="{% url 'calendar:add_delo_Natasha_month' %}" class="rectangle1__month">месяц</a>
		</div>
		<div class="rectangle2_2">
			<a href="{% url 'calendar:add_delo_Natasha_week' %}" class="rectangle2__week">неделя</a>
		</div>
		<div class="buttons-throw">
			<button id="week-backButton"></button>
			<button id="week-nextButton"></button>
		</div>
	</header>
	<main class="main-main-block">
		<div class="section-head">
			<div class="week-counts">
			</div>
			<div class="week-days">
				<div>ПН</div>
				<div>ВТ</div>
				<div>СР</div>
				<div>ЧТ</div>
				<div>ПТ</div>
				<div>СБ</div>
				<div>ВС</div>
			</div>
		</div>
		<div class="section-body">
			<div id="line1"></div>
			<div class="week-block-one"></div>
			<div class="week-block-two"></div>
			<div class="week-block-three"></div>
			<div class="week-block-four"></div>
			<div class="week-block-five"></div>
			<div class="week-block-six"></div>
			<div class="week-block-seven"></div>
		</div>
	</main>
	<footer class="main-footer-block">
		<div class="section-foot">
			<div id="line2"></div>
			<input class="section-input" type="text" name="task" placeholder="Напишите что-нибудь..."/>
			<button type="submit" class="add-btn"></button>
	</div>

	</footer>
</section>
	<div id = "ID"></div>
    <script> ID = {{user.id}}; </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'js/week.js'%}"> </script>
{% endblock %}
