@import 'fonts.css';

html{
    box-sizing: border-box;
    /* zoom: 77%; */
}
*, *::before, *::after{
    box-sizing: inherit;
}
*{
    background: url("../img/background_wallpaper.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    color: #2E1949;
}
.mainHeader{
    position: absolute;
    width: 238px;
    height: 75px;
    left: calc(50% - 238px/2);
    top: 246px;    
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    margin: 0;
}
.inscriptions{
    font-weight: 200;
    font-size: 36px;
    line-height: 42px; 
}
.need_to_login{
    margin: 0;
    position: absolute;
    width: 810px;
    height: 42px;
    left: calc(50% - 800px/2);
    top: 344px;
}
.btn__login{
    position: absolute;
    width: 700px;
    height: 100px;
    left: calc(50% - 700px/2 + 6px);
    top: 676px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(88.83deg, #834D9B 0%, #D04ED6 100%);

    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}
.box input[type = "submit"]{
    color: #FFFFFF;
    outline: none;
    color: white;
    cursor: pointer;   
}
.registration{
    position: absolute;
    width: 755px;
    height: 42px;
    left: calc(50% - 745px/2 + 2.5px);
    top: 800px;
}
.data__entry span{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;    
}
.span__login{
    position: absolute;
    width: 91px;
    height: 38px;
    left: 616px;
    top: 446px;
}
.span__password{
    position: absolute;
    width: 112px;
    height: 38px;
    left: 616px;
    top: 579px;
}
.input__text input{
    background: #FFFFFF;
    border-radius: 20px;    
    border: none;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    padding-left: 41px;
}
.entry_login{
    position: absolute;
    width: 519px;
    height: 100px;
    left: 798px;
    top: 415px;
}
.entry_password{
    position: absolute;
    width: 519px;
    height: 100px;
    left: 798px;
    top: 553px;
}
.entry_login::placeholder,  .entry_password::placeholder{
    color: #2E1949;
    opacity: 0.5;
}
.entry_login:focus, .entry_password:focus{
    color: #2E1949;
    background: #F7E7FF;
    outline: 0;
    box-shadow: 0 0 0 0.6rem rgba(183, 116, 231, 0.25);
}
.registration{
    text-decoration: none;
    color: #2E1949;
}
.registration:hover{
    text-decoration: underline;
}








