#numbers{
	position: absolute;
	width: 73px;
	height: 75px;
	margin-top: 180px;
	margin-left: 558px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 75px;
	color: #2E1949;
}
.day {
  width: 330px;
  padding: 10px;
  height: 330px;
  cursor: pointer;
  box-sizing: border-box;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 42px;

color: #2E1949;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: rgba(232, 191, 240, 0.4);
}

.day + #currentDay {
  background-color:#d48bec;
}
.event {/*отображение дел на дне*/
  font-size: 40px;
  padding: 3px;
  background-color: #fda9be;
  color: #2E1949;
  border-radius: 25px;
  max-height: 255px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: rgba(251, 225, 210, 0.4) !important;
  box-shadow: none !important;
}

#newEventModal, #deleteEventModal {
  display: flex;
	position: absolute;
  z-index: 20;
  padding: 30px;
  background-color: #f9ddd1;
  /* box-shadow: 0px 0px 3px black; */
  border-radius: 5px;
  width: 40%;/*1200*/
	height: 40%;/*800*/
	/* top: 5%; */
  font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 44px;
	line-height: 25px;
	color: #2E1949;
}
#eventTitleInput {
  padding: 50px;
  width: 83%;/*width of input text*/
  box-sizing: border-box;
	/* position: absolute; */
	margin-top: 45%;
  margin-bottom: 10px;
  border-radius: 40px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton{
  background-color: #d36c6c;
	position: absolute;
	margin-top: 47%;
	margin-left:90%;
	border-radius: 40px;
	width: 85px;
	height: 85px;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
	position: absolute;
	margin-top: 47%;
	margin-left: 84%;
	border-radius: 40px;
	width: 85px;
	height: 85px;
}
#eventText {
  font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 64px;
	line-height: 25px;
	color: #2E1949;
}
#modalBackDrop {/*черное полотно позади формы для записи*/
  display: none;
	position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;/*100vw*/
  height: 100vh;/*100vh*/
  background-color: rgba(0,0,0,0.8);
}
