<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_note_page.css">
    <title>WoMo</title>
</head>
<body>
    <div class="menu">
        <div class="image-stack__item menu__wallpaper">
            <img src="img/backgroud_menu.jpg" alt="Фиолетовый фон под меню">
        </div>
        <div class="image-stack__item avatar">
            <img src="img/avatar.jpg" alt="Собачка на автарку">
        </div>
        <ul class="menu__list list">
            <li class="menu__item item">
                <a href="index.html" class="menu__link link">
                    <img src="img/arms_up.svg" alt="иконка профиля">
                    <span>Мой день</span>
                </a>                    
            </li>
            <li class="menu__item item">
                <a href="#2" class="menu__link link">
                    <img src="img/calendar.svg" alt="иконка календаря">
                    <span>Календарь</span>
                </a>
            </li>
            <li class="menu__item item">
                <a href="#3" class="menu__link link">
                    <img src="img/goal.svg" alt="иконка целей">
                    <span>Цели</span>
                </a>                    
            </li>
            <li class="menu__item item">
                <a href="note_page.html" class="menu__link link">
                    <img src="img/notes.svg" alt="иконка заметок">
                    <span>Заметки</span>
                </a>
            </li>
        </ul>
        <a href="#" class="link__me">
            <span>Я</span>
        </a>
        <a href="#" class="link__about">
            <span>О нас</span>
        </a>
    </div>

    <div class="mainHeader">
        <h1>Мои заметки</h1>
    </div>

    <!-- <section class = "create__memo">
        <div class="input__text">
            <input type="text" class="add__text" placeholder="Побаловать себя вкусненьким :)"/>
            <a href="#5" class="btn__add_note">
                <img src="img/add_note.svg" alt="" class="add__note">
            </a>
        </div>
        <div class="wrapper">
            <ul class="todo"></ul>
        </div>
    </section> -->
    <div class="container">
        <a href="#5" class="btn__add_note">
            <img src="img/add_note.svg" alt="" class="add__note">
        </a>

        <div class="notes"></div>
    </div>
    <script src="js/memo.js"></script>
</body>
</html>