.menu{
		grid-column: 1/2;
		grid-row: 1/ span 4;
		width: 100%;
    height: 95%;
		background: rgba(200, 112, 242, 0.7);
		backdrop-filter: blur(25px);
		border-radius: 0 30px 30px 0;
		justify-self: left;
		align-self: center;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 35% 50% 15%;
}
.first{
	grid-column: 1/2;
	grid-row: 1/2;
	place-self: center;
	text-align: center;
}
.menu .avatar img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.link__me{
	text-decoration: none;
}
.link__me >span{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
	background: none;
}
.link{
    text-decoration: none;
    text-transform: lowercase;
}
.link > img{
    width: 48px;
    height: 48px;
}
.link >span{
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    background: none;
}
.list{
		grid-column: 1/2;
		grid-row: 2/3;
		list-style-type: none;
		justify-self: center;
}
.item{
    margin-bottom: 10%;
}
.link:hover, .link__me:hover, .link__about:hover{
    opacity: 0.7;
}
.link__about{
		grid-column: 1/2;
		grid-row: 3/4;
		place-self: center;
		text-align: center;
		text-decoration: underline solid #fff;
}
.link__about >span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    background: none;
}
.first, .avatar, .menu__list, .link__about, li, a, img{
background: local;
}
