<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>WoMo</title>
<body>

    <div class="content">

        <h1 class="mainHeader">Привет!</h1>
        <span class="need_to_login">Для начала работы необходимо войти в аккаунт</span>
        <a class="registration" href="{% url 'registration:register' %}">Еще не создали аккаунт? Зарегистрируйтесь!</a>

        <form class="box"  method="post">
             {% csrf_token %}
            <input type="submit" class="btn__login" href="{% url 'todolist:add_delo' %}" value="Войти"/>
    
            <div class="data__entry">
                <div class="spans">
                    <span class="span__login">Логин</span>
                    <span class="span__password">Пароль</span>
                </div>
                <div class="input__text">
                    <input type="text" class="entry_login" name="username" placeholder="Введите логин..."/>
                    <input type="password" class="entry_password" name="password" placeholder="Введите пароль..."/>
                </div>
            </div>
            {{ form.errors }}
        </form>

    </div>

</body>
</html>