<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
	<section class="inner-part">
		<div class="profile-photo">
			<img src="/{{ user.avatar }}" alt="Собачка на автарку">
		</div>
		<div class="profile-name">
			<span>{{ user.first_name }}</span>
			<span>{{ user.last_name }}</span>
		</div>
		<div class="profile-login">
			<span>{{ user.username }}</span>
		</div>
		<div class="buttons">
			<div class="how-to-btn">
				<div class="how-to-img"></div>
				<div class="how-to-text"><a href="{% url 'registration:rules' %}">Как пользоваться WoMo?</a></div>
			</div>
			<div class="leave-btn">
				<div class="leave-img"></div>
					<div class="leave-text">
                	<a href="{% url 'registration:logout' %}">
                    	Покинуть аккаунт
                	</a>
						</div>
			</div>
		</div>
		<div class="dots-btn"></div>
	</section>
	<a href="{% url 'todolist:add_delo' %}" class="backing">
<img src="{% static 'img/ChevronRight.png' %}" class="back-btn" alt="">
</a>
<!--<div id="openModal" class="modalDialog">

			<div class="slides">
				<input type="radio" name="switch" id="i_1" checked>
				<input type="radio" name="switch" id="i_2">
				<input type="radio" name="switch" id="i_3">
				<input type="radio" name="switch" id="i_4">
				<input type="radio" name="switch" id="i_5">
				<input type="radio" name="switch" id="i_6">
				<div class="wrapper">
					<a href="#close" title="Закрыть" class="close">x</a>
					<h2>Инструкция к WoMo</h2>
					<div class="slide">
						<div class="content content1">
								<p>Для удаления планов на день используйте "ctrl" и правую кнопку мыши.
									<br>Дело на неделе/месяце удалится по нажатию на день, в который записано дело, а затем по нажатию на конкретное дело.
								<br>Точно также по нажатию удаляются цели и заметки. </p>
						</div>
					</div>
					<div class="slide">
						<div class="content content2">
								<p>Nullam quis pretium nisl, suscculis odio. </p>
									<p>In venenatis aliquet consectetur.</p>
						</div>
					</div>
					<div class="slide">
						<div class="content content3">
								<p>Nullam quis pretium nisl, suscculis odio. </p>
									<p>In venenatis aliquet consectetur.</p>
						</div>
					</div>
					<div class="slide">
						<div class="content content4">
					<p>Nullam vel elit massa. Nam sed egestas neque, ut sollicitudin urna. Curabitur vestibulum felis vitae sapien venenatis mattis.

						</div>
					</div>
					<div class="slide">
						<div class="content content5">
							<p>lfjoefir320438204kdsf,m x,cneor3r0923</p>
						</div>
					</div>
					<div class="slide">
						<div class="content content6">
							<p>erir3039iodidfs0f98r039r83209ipsdfoids</p>
						</div>
					</div>
				</div>
				<div class="controls">
					<label for="i_1">⬤</label>
					<label for="i_2">⬤</label>
					<label for="i_3">⬤</label>
					<label for="i_4">⬤</label>
					<label for="i_5">⬤</label>
					<label for="i_6">⬤</label>
				</div>

			</div>
	</div>-->
</body>
</html>