<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
	<section class="inner-part">
		<div class="profile-photo">

		</div>
		<div class="profile-name">
			<span>{{ user.first_name }}</span>
			<span>{{ user.last_name }}</span>
		</div>
		<div class="profile-login">
			<span>{{ user.username }}</span>
		</div>
		<div class="buttons">
			<div class="how-to-btn">
				<div class="how-to-img"></div>
				<div class="how-to-text">Как пользоваться WoMo?</div>
			</div>
			<div class="leave-btn">
				<div class="leave-img"></div>
					<div class="leave-text">
                	<a href="{% url 'registration:logout' %}">
                    	Покинуть аккаунт
                	</a>
						</div>
			</div>
		</div>
		<div class="dots-btn"></div>
	</section>
	<a href="{% url 'todolist:add_delo' %}">
<img src="{% static 'img/ChevronRight.png' %}" class="back-btn" alt="">
</a>
</body>
</html>